body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?city,japan,night");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 120%;
}

section {
  margin-left: auto;
  margin-right: auto;
  padding: 150px;
}

.card {
  background: rgb(6, 32, 36);
  color: white;
  padding: 2em;
  border-radius: 30px;
  max-width: 420px;
  margin: auto;
  width: 100%;
  opacity: 90%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2 ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  /*background: #7c7c7c2b;*/
  color: white;
  font-size: 120%;
  width: calc(100% - 100px);
}

/*effect of the button*/
button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Enter City Name";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
